.site-header {
  padding: 8px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 10px;
  }

  &__nav-link {
    padding: 16px;
    text-decoration: none;
    color: black;
  }

  &__hamburger {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url("../images/bars-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media only screen and (max-width: 730px){
  .site-header{
    padding: 18px 0;
    position: relative;

    &__nav {
      display: none;
    }

    &__hamburger{
      display: inline-block;
    }
  }

  .site-header--open .site-header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    top: 100%;
    left: 0;
    background-color: #1e90ff;
    width: 100%;
  }

  .site-header--open .site-header__nav-list {
    flex-direction: column;
  }

  .site-header--open .button {
    background-color: orange;
  }

  .site-header--open .site-header__hamburger {
    background-image: url("../images/xmark-solid.svg")
  }
}